/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
ul.nav,.jumbotron h1{
  font-family: 'Arvo',courier,serif;
}
ul.nav{
  font-size: 13px;
}
footer{
  background-color: #f74c3c;
  padding-top: 150px;
  padding-bottom: 30px;
}
#get-involed{
  background-color: #f5f5f5;
}
#onemillion{
  background-color: #ff5511;
}
.jumbotron h1{
  margin-top: 0px;
  margin-bottom: 50px;
}
.jumbotron p{
  margin-bottom: 30px;
  font-weight: 100;
  padding: 0 50px;
}
.jumbotron{
  text-align: center;
  background-image: url('images/hero_image.jpg');
  color: white;
}
.btn-lg{
  font-size: 36px;
}
.emphasis{
  color: red;
  font-size: 26px;
}
.head_emphasis{
  color: red;
}
.homepage{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.homepage h2,.homepage h3{
  text-transform: uppercase;
  color: #e74c3c;
  font-family: 'Arvo',courier,serif;
}
.homepage h2{
  font-size: 26px;
}
.homepage h3{
  font-size: 30px;
}
.homepage p{
  font-weight: 300;
  font-size: 20px;
}
.homepage hr{
  border-color: #e74c3c;
  width: 160px;
  margin-top: 20px;
}
.homepage a{
  color: #e74c3c;
}
.homepage a:hover{
  color: #e74c3c;
  text-decoration: none;
  opacity: 0.6;
}

/*responsive styling*/
@media (max-width: 1199px) {
  .jumbotron h1{
    font-size: 56px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .jumbotron h1{
    font-size: 44px;
  }
  .jumbotron p{
    padding: 0 10px;
  }
  #get-involed .col-md-4{
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .jumbotron h1{
    font-size: 24px;
  }
  .jumbotron p{
    font-size: 16px;
    padding: 0 ;
  }
  .btn-lg{
    font-size: 18px;
  }
  .homepage p{
    font-size: 18px;
  }
  footer img{
    width: 80%;
  }
}
